/* General styles */
body {
  background-color: #000;
  color: #00ff99;
  font-family: 'Fira Code', monospace;
  margin: 0;
  overflow: hidden;
}

#nav {
  background-color: #0d0d0d;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#nav ul li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 16px;
}

#nav ul li:hover {
  color: #00cc80;
}

/* Console content */
#console {
  margin: 80px auto;
  max-width: 800px;
  font-size: 16px;
  line-height: 1.6;
}

.blinking-cursor {
  font-weight: bold;
  font-size: 18px;
  color: #00ff99;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
      color: transparent;
  }
}
